<header>
	<h2>cloud chasers</h2>
	
	<nav>
		<ul>
			<a class="pointer" ng-click="navigationController.goto('home')"><li>Home</li></a>
			<a class="pointer" ng-click="navigationController.goto('thema')"><li>Thema</li></a>
			<a class="pointer" ng-click="navigationController.goto('images')"><li>Bilder</li></a>
			<a class="pointer" ng-click="navigationController.goto('video')"><li>Video</li></a>
			<a class="pointer" ng-click="navigationController.goto('impressum')"><li>Impressum</li></a>
		</ul>
	</nav>
</header>