body {
    margin: 0;
	font-family: 'Raleway', 'Roboto Mono', sans-serif;
}

header {
    width: 100%;
    height: 50px;
	position: fixed;
    background-color: aliceblue;
	z-index: 1000;
}

header h2 {
    width: 45%;
    float: left;
    margin: 0;
    margin-left: 1%;
    line-height: 50px;
	font-family:  "Eras Demi ITC", sans-serif;
	font-style: italic;
}

nav {
    width: 45%;
    float: right;
	margin-right: 25px;
}

nav ul {
    margin: 0;
    width: 100%;
}

nav li {
    height: 100%;
    line-height: 50px;
    width: 19%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    color: black;
}

nav li:hover {
    background-color: #bababa;
}

nav li:active {
    background-color: #bababa;
}
div.content{
	width: 100%;
	height: 71%;
	margin-bottom: 20px;
}
div.page {
	width: 100%;
	height: calc(100vh - 50px);
	padding-top: 50px;
}
div.home {
	background-image: url("../../assets/img/weather/sunandsnowinmountains.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.thema {
	background-color: #bcbcbc;
}
div.images{
	background-image: url("../../assets/img/weather/ticino-weather.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.video {
	background-color: cadetblue;
}
div.impressum {
	background-image: url("../../assets/img/weather/snow-laax-sun-ski-weather.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.middle{
	margin: 0 auto;
}
div.home div.image{
	width: 40%;
	margin: 0 auto;
}
div.home img{
	width: 100%;
	margin-top: 50px;
	opacity: 0.6;
}
div.text {
	width: 600px;
	height: 50vh;
	background-image: url("../../assets/img/weather/snow-laax-sun-ski-weather.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.text p{
	padding: 20px;
	padding-top: 50px;
	text-align: center;
}
div.button{
	border-radius: 40px;
	width: 80px;
	height: 80px;
	background-color: white;
	opacity: 0.5;
	cursor: pointer;
}
div.button img{
	margin-top: 0px;
}
div.title{
	width: 300px;
	text-align: center;
	font-size: 22px;
}
div.info{
	width: 40%;
	height: 80%;
	float: left;
	margin-left: 5%;
	text-align: center;
	margin-top: 50px;
}
div.info span{
	font-size: 22px;
	line-height: 1.5;
}
div.impressumInfos{
	width: 80%;
	height: 75vh;
	margin-top: 50px;	
}

#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }

.pointer{
	cursor: pointer;
}
.imagesGallery{
	margin: 0 auto;
	width: 1300px;
	padding: 10px;
}