<div id="home" class="page home">
	<div class="content">
		<div class="image">
			<img src="./assets/img/cloud_chaser_transparent.png" />
		</div>
	</div>
	<eportfolio-button-directive button-link="'thema'"></eportfolio-button-directive>
</div>

<div id="thema" class="page thema">
	<div class="content">
		<div class="middle title">
			<h1>Thema</h1>
		</div>
		<div class="text middle">
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</div>
	<eportfolio-button-directive button-link="'images'"></eportfolio-button-directive>
</div>

<div id="images" class="page images">
	<div class="content">
		<div class="middle title">
			<h1>Bilder</h1>
		</div>
		<div class="middle imagesGallery">
			<!-- David Oberholzer Bilder -->
			<a href="./assets/img/weather/sunandsnowinmountains.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains.jpg" width="125px" height="125px" alt="Unbearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/sunandsnowinmountains-edited.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains-edited.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/ticino-weather.jpg" data-featherlight="./assets/img/weather/ticino-weather.jpg">
				<img src="./assets/img/weather/ticino-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/ticino-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/sun.jpg" data-featherlight="./assets/img/weather/sun.jpg">
				<img src="./assets/img/weather/sun.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Sonne"/>
			</a>
			<a href="./assets/img/weather/sun-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/sun-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Sonne"/>
			</a>
			<a href="./assets/img/weather/nebel.jpg" data-featherlight="./assets/img/weather/nebel.jpg">
				<img src="./assets/img/weather/nebel.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/nebel-edited.jpg" data-featherlight="./assets/img/weather/nebel-edited.jpg">
				<img src="./assets/img/weather/nebel-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>


			<br>
			
			<!-- fabio litscher bilder: -->

			<a href="./assets/img/weather/sunandsnowinmountains.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains.jpg" width="125px" height="125px" alt="Unbearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/sunandsnowinmountains-edited.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains-edited.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/ticino-weather.jpg" data-featherlight="./assets/img/weather/ticino-weather.jpg">
				<img src="./assets/img/weather/ticino-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/ticino-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather.jpg" data-featherlight="./assets/img/weather/ticino-weather.jpg">
				<img src="./assets/img/weather/ticino-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/ticino-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
		</div>
	</div>
	<eportfolio-button-directive button-link="'video'"></eportfolio-button-directive>
</div>

<div id="video" class="page video">
	<div class="content">
		<div class="middle title">
			<h1>Video</h1>
		</div>
	</div>
	<eportfolio-button-directive button-link="'impressum'"></eportfolio-button-directive>
</div>

<div id="impressum" class="page impressum">
	<div class="content">
		<div class="middle title">
			<h1>Impressum</h1>
		</div>
		<div class="middle impressumInfos">
			<div class="info david">
				<h1>David Oberholzer</h1>
				<span>Applikationsentwickler Helvetia AG</span><br>
				<span>Distelweg 6 / 9030 Abtwil</span><br>
				<span>david.oberholzer@gbssg.ch</span>
			</div>
			<div class="info fabio">
				<h1>Fabio Litscher</h1>
				<span>Applikationsentwickler SFS Services AG</span><br>
				<span>Schartenstrasse 3a / 9445 Rebstein</span><br>
				<span>fabio.litscher@gbssg.ch</span>
			</div>
		</div>
	</div>
</div>
