<div id="home" class="page home">
	<div class="content">
		<div class="image">
			<img src="./assets/img/cloud_chaser_transparent.png" />
		</div>
	</div>
	<eportfolio-button-directive button-link="'thema'"></eportfolio-button-directive>
</div>

<div id="thema" class="page thema">
	<div class="content">
		<div class="middle title">
		</div>
		<div class="text middle">
			<div class="project-text">
				<h1>Modul 152</h1>
				<p>Während dem letzten Jahr der Informatiklehre des alten Bildungsplanes wird das Modul 152, eines der letzten Module, in der Schule unterrichtet. Dabei geht es um den professionellen Umgang mit Medieninhalt im Zusammenhang mit Webseiten. Man lernt Kriterien zur Bild- und Videobearbeitung kennen und wendet diese an. Man lernt, welche Möglichkeiten es gibt, Medien in einen Webauftritt einzubinden und wie man diese anwendet.
				Dieser übermittelte Stoff dient als Grundlage für die Projektarbeit in diesem Modul. In folgendem Dokument werden die Planung, die Konzeption und die Umsetzung aufgezeigt. Die Webseite selber ist nach Projektschluss im Anhang zu finden.
                </p>
                <br>
				<h1>Das ePortfolio & unser Thema</h1>
				<p>In diesem Projekt geht es um das Erstellen eines ePortfolios. Ein ePortfolio hat den Sinn ein gewisses Thema mit Bildern und anderen medialen Inhalten darzustellen. In unserem Projekt haben wir uns auf das Thema Wetter geeinigt. Wir zeigen in unserem ePortfolio einige von uns gemachte und bearbeitete Bilder des Wetters. Ziel ist es, unsere Fertigkeiten im Zusammenhang mit der Bild-, Videobearbeitung, Logoerstellung und Erstellung von Webauftritten aufzuzeigen, um somit das von uns gewählte Thema auf eine interessante und schöne Art darzustellen.
                </p>
			</div>
		</div>
	</div>
	<eportfolio-button-directive button-link="'images'"></eportfolio-button-directive>
</div>

<div id="images" class="page images">
	<div class="content">
		<div class="middle title">
			<h1>Bilder</h1>
		</div>
		<div class="middle imagesGallery">
			<!-- David Oberholzer Bilder -->
			<a href="./assets/img/weather/sunandsnowinmountains.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains.jpg" width="125px" height="125px" alt="Unbearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/sunandsnowinmountains-edited.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains-edited.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/ticino-weather.jpg" data-featherlight="./assets/img/weather/ticino-weather.jpg">
				<img src="./assets/img/weather/ticino-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/ticino-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/sun.jpg" data-featherlight="./assets/img/weather/sun.jpg">
				<img src="./assets/img/weather/sun.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Sonne"/>
			</a>
			<a href="./assets/img/weather/sun-edited.jpg" data-featherlight="./assets/img/weather/sun-edited.jpg">
				<img src="./assets/img/weather/sun-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Sonne"/>
			</a>
			<a href="./assets/img/weather/nebel.jpg" data-featherlight="./assets/img/weather/nebel.jpg">
				<img src="./assets/img/weather/nebel.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/nebel-edited.jpg" data-featherlight="./assets/img/weather/nebel-edited.jpg">
				<img src="./assets/img/weather/nebel-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>


			<br>

			<!-- fabio litscher bilder: -->

			<a href="./assets/img/weather/sunandsnowinmountains.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains.jpg" width="125px" height="125px" alt="Unbearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/sunandsnowinmountains-edited.jpg" data-featherlight="./assets/img/weather/sunandsnowinmountains-edited.jpg">
				<img src="./assets/img/weather/sunandsnowinmountains-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Berg Sonnenwolken-Foto"/>
			</a>
			<a href="./assets/img/weather/ticino-weather.jpg" data-featherlight="./assets/img/weather/ticino-weather.jpg">
				<img src="./assets/img/weather/ticino-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/ticino-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather.jpg" data-featherlight="./assets/img/weather/ticino-weather.jpg">
				<img src="./assets/img/weather/ticino-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/ticino-weather-edited.jpg" data-featherlight="./assets/img/weather/ticino-weather-edited.jpg">
				<img src="./assets/img/weather/ticino-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather.jpg" width="125px" height="125px" alt="Unbearbeitetes Bild - Wetter Tessin"/>
			</a>
			<a href="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" data-featherlight="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg">
				<img src="./assets/img/weather/snow-laax-sun-ski-weather-edited.jpg" width="125px" height="125px" alt="Bearbeitetes Bild - Wetter Tessin"/>
			</a>
		</div>
	</div>
	<eportfolio-button-directive button-link="'video'"></eportfolio-button-directive>
</div>

<div id="video" class="page video">
	<div class="content">
		<div class="middle title">
			<h1>Video</h1>
		</div>
	</div>
	<eportfolio-button-directive button-link="'impressum'"></eportfolio-button-directive>
</div>

<div id="impressum" class="page impressum">
	<div class="content">
		<div class="middle title">
			<h1>Impressum</h1>
		</div>
		<div class="middle impressumInfos">
			<div class="info david">
				<h1>David Oberholzer</h1>
				<span>Applikationsentwickler Helvetia AG</span><br>
				<span>Distelweg 6 / 9030 Abtwil</span><br>
				<span>david.oberholzer@gbssg.ch</span>
			</div>
			<div class="info fabio">
				<h1>Fabio Litscher</h1>
				<span>Applikationsentwickler SFS Services AG</span><br>
				<span>Schartenstrasse 3a / 9445 Rebstein</span><br>
				<span>fabio.litscher@gbssg.ch</span>
			</div>
		</div>
	</div>
</div>
